* {
  font-family: "Poetsen One", sans-serif;
  /* border: 1px solid black; */
}

.hidden {
  display: none !important;
}

header,
main,
#add-task-container,
#lists-container {
  display: flex;
  justify-content: center;
}

#lists-container {
  gap: 10px;
}

#to-do-container,
#done-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.task {
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 5px;
  position: relative;
  gap: 10px;
}

.trash {
  position: absolute;
  right: 10px;
}

main {
  flex-direction: column;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
}
